__pycache__
node_modules
log.txt
hardware/SX126X_LoRa_HAT_Code/stm32
hardware/SX126X_LoRa_HAT_Code/windows
hardware/SX126X_LoRa_HAT_Code/.lgd-nfy0
hardware/SX126X_LoRa_HAT_Code/raspberrypi/python/.lgd-nfy0s