   <!-- Footer -->
    <footer class="footer">
        <p>Location: Panepistimioupoli Patras, 26504. &copy; 2024 AutoSense Analytics. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    </footer>