<h2>{{project.projName}}</h2>
<gmp-map center="38.272486,21.759024" zoom="13" map-id="DEMO_MAP_ID" id="marker-click-event-example">
      {{#each projectPoints}}
            <gmp-advanced-marker position="{{latitude}},{{longitude}}" title="{{rssi}}" gmp-clickable></gmp-advanced-marker>
      {{/each}}
</gmp-map>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOcqkcLPbNWFbEwAAEBfrHSUqz1oA-zsg&loading=async&callback=console.debug&libraries=maps,marker&v=beta">
    </script>

<script>
      async function initMap() {
      const { Map } = await google.maps.importLibrary("maps");
      const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

      console.log("Maps JavaScript API loaded.");
      
      const advancedMarkers = document.querySelectorAll(
            "#marker-click-event-example gmp-advanced-marker",
      );
      
      for (const advancedMarker of advancedMarkers) {
            customElements.whenDefined(advancedMarker.localName).then(async () => {
            advancedMarker.addEventListener("gmp-click", async () => {
            const infoWindow = new google.maps.InfoWindow({
                  //@ts-ignore
                  content: advancedMarker.title,
            });
      
            infoWindow.open({
                  //@ts-ignore
                  anchor: advancedMarker,
            });
            });
            });
      }
      }
      
      initMap();
  </script defer>
    