<!DOCTYPE html>
<html>
<head>
    <title>Heatmap with RSSI</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOcqkcLPbNWFbEwAAEBfrHSUqz1oA-zsg&libraries=visualization"></script>
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body id="pagebody">
    {{{body}}}
</body>
</html>