{{>navbar username=username}}

<div id="createnewprojectform">
    <h1>Create new project</h1>
    <form method="POST">
        <label for="name">Project name</label>
        <input type="text" id="name" name="projectName" class="form-control" required>

        <label for="description">Project Description:</label>
        <textarea id="description" name="projectDescription" class="form-control"></textarea>
        {{#if error}}
        <br><br>
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        {{#if success}}
        <br><br>
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
        {{/if}}
        <div style="text-align: center; margin-top:2%">
            <a style="background-color:#606060; color:white; border-color:#606060" href="/admin/assignproject" class="btn btn-primary">Go back</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

