{{>navbar username=username}}

<h3 id="welcomecomp">Live Status</h3>

{{!-- map --}}
<div id="mapProject">
    <div  id="mapcont">
            <div class="col-md-6" id="map"></div>
    </div>
</div>

{{!-- <div id="dashboardcont">
    <div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d/aebo4rq663fnkb/live-status?from=now-5m&to=now&timezone=browser&var-car_id=1"></iframe></div>
</div> --}}

<div id="dashboardcont">
    <div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d/debr5w7b2j8jkd/live-status-parametric?from=now-5m&to=now&timezone=browser&var-car_id=0&var-car_id=1&var-car_id=2&var-car_id=3&var-car_id=4&var-car_id=5&var-car_id=6&var-car_id=7&refresh=5s"></iframe></div>
</div>





