{{>navbar username=username}}

<h3 id="welcomecomp">Live Status</h3>

<div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d/aebo4rq663fnkb/live-status?kiosk=&from=2025-01-31T16:48:27.114Z&to=2025-01-31T16:52:48.271Z&timezone=browser&var-car_id=0" width="100%" height="100%"></iframe></div>

{{!-- map --}}
<div id="mapProject">
    <div  id="mapcont">
            <div class="col-md-6" id="map"></div>
    </div>
</div>

{{!-- dashboard --}}



