{{>navbar username=username}}

<h3 id="welcomecomp">Live Status</h3>

{{!-- map --}}
<div id="mapProject">
    <div  id="mapcont">
            <div class="col-md-6" id="map"></div>
    </div>
</div>

<div id="dashboardcont">
    <div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d/aebo4rq663fnkb/live-status?from=now-5m&to=now&timezone=browser&var-car_id=1"></iframe></div>
</div>







