{{>navbar username=username}}
<div id="home">
 <div class="hero">
        <div class="overlay">
            <h1>Collecting data...on the move</h1>
            <a href="/about" class="about-btn">About us</a>
        </div>
    </div>

    <!-- Info Section -->
    <div class="info">
        <div class="icon">
            <img src="/media/logo_mini_green.png" alt="Car with sensors">
        </div>
        <h2>Transforming the roads into a source of endless data</h2>
        <p>
            By utilizing a variety of vehicles equipped with advanced sensors, we capture real-time insights
            that enhance operational efficiency and enable a diverse range of applications.
        </p>
    </div>
</div>
{{>footer}}
