{{>navbar username=username}}
<h3 id="welcomecomp">{{project.projName}}</h3>
<div id="projpath"><a  href="/mycompany">AutoSense<a href="/mycompany">&gt;Projects</a><a href="/mycompany/project/{{project.id}}">&gt;{{project.projName}}</a></a></div>