{{>navbar username=username}}
<h3 id="welcomecomp">{{project.projName}}</h3>
<div id="projpath"><a  href="/mycompany">AutoSense<a href="/mycompany">&gt;Projects</a><a href="/mycompany/project/{{project.id}}">&gt;{{project.projName}}</a></a></div>
{{!-- <div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d-solo/ee5awawrs54w0b/autosenseanalytics-wifi?from=1732770651103&to=1732792251103&timezone=browser&orgId=2&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe></div> --}}
<div id="dashboard"><iframe src="https://labserver.sense-campus.gr:8087/d/ee5awawrs54w0b/autosenseanalytics-wifi?from=now-5m&to=now&timezone=browser&refresh=5s" width="1100" height="500" frameborder="0"></iframe></div>

{{!-- <iframe src="https://labserver.sense-campus.gr:8087/d-solo/ee5awawrs54w0b/autosenseanalytics-wifi?timezone=browser&refresh=5s&tab=alert&orgId=2&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe> --}}