    {{>navbar}}
    <div id="projects">
        <h1>Projects -temp page</h1>
        <div id="projgroup">
            <section class="project">
                <h2>Project 1</h2>
                <img src="/media/project1.png" alt="Project 1">
                <p hidden>Description of Project 1.</p>
            </section>
            <section class="project">
                <h2>Project 2</h2>
                <img src="/media/project2.png" alt="Project 2">
                <p hidden>Description of Project 2.</p>
            </section>
        </div>
        <div id="projgroup">
            <section class="project">
                <h2>Project 3</h2>
                <img src="/media/project3.png" alt="Project 3">
                <p hidden>Description of Project 3.</p>
            </section>
            <section class="project">
                <h2>Project 3</h2>
                <img src="/media/project4.png" alt="Project 4">
                <p hidden>escription of Project 4.</p>
            </section>
        </div>
</div>
{{>footer}}

